<nav class="navbar">
  <div class="navbar-brand">Imalo Utils</div>
  <ul class="navbar-links">
    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Dashboard</a
      >
    </li>
    <li>
      <a routerLink="/scholars" routerLinkActive="active" class="nav-link"
        >Scholars</a
      >
    </li>
    <li>
      <a routerLink="/pickup-time" routerLinkActive="active" class="nav-link"
        >Pickup time</a
      >
    </li>
    <li>
      <a routerLink="/attendance" routerLinkActive="active" class="nav-link"
        >Attendance</a
      >
    </li>
    <li>
      <a routerLink="/charts" routerLinkActive="active" class="nav-link"
        >Charts</a
      >
    </li>
    <li>
      <a routerLink="/audit-log" routerLinkActive="active" class="nav-link"
        >Audit log</a
      >
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active" class="nav-link"
        >About</a
      >
    </li>
  </ul>
</nav>
