@if (scholar) {
<button
  type="button"
  class="app-button delete-button"
  (click)="navigateToUpdateScholar()"
  [disabled]="!scholar"
>
  Edit Scholar
</button>
<button
  type="button"
  class="app-button delete-button"
  (click)="deleteScholar()"
  [disabled]="!scholar"
>
  Delete Scholar
</button>

<div class="scholar-detail-container">
  <h2>{{ scholar.firstName }} {{ scholar.lastName }}</h2>
  <div class="detail-card">
    <p><strong>Grade:</strong> {{ scholar.grade }}</p>
    <p>
      <strong>Birth Date:</strong> {{ scholar.dateOfBirth | date : 'longDate' }}
    </p>
    <p><strong>School:</strong> {{ school?.name || 'Unknown' }}</p>
  </div>
  @if (scholar.pickUpSchedule) {
  <div class="pickup-schedule">
    <h3>Pick-Up Schedule</h3>
    <table>
      <thead>
        <tr>
          <th>Day</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        @for (day of daysOfWeek; track day) {
        <tr>
          <td>{{ day | titlecase }}</td>
          <td>{{ scholar.pickUpSchedule[day] }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <div class="pickup-schedule-unavailable">
    <p class="text-gray-600 italic">Pick-Up Schedule not available.</p>
  </div>
  }
</div>
}

<button [routerLink]="['/attendance', scholar?.id]" class="app-button">
  View Attendance
</button>

@if (!scholar) {
<div class="loading">Loading scholar details...</div>
}
