@for (day of weekDays; track day) {
  <div class="gantt-container">
    <h2 class="gantt-day-title">{{ formatDayTitle(day) }}</h2>
    <div class="gantt-chart">
      <!-- Header -->
      <div class="gantt-header" [style.--slot-count]="timeSlots.length">
        <div class="name-cell">Name</div>
        @for (slot of timeSlots; track slot) {
          <div class="time-slot">
            {{ slot.displayLabel }}
          </div>
        }
      </div>
      <!-- Rows -->
      @for (scholar of scholars(); track scholar) {
        <div class="gantt-row" [style.--slot-count]="timeSlots.length">
          <div class="name-cell">{{ scholar.firstName }}</div>
          @for (slot of timeSlots; track slot) {
            <div
              class="time-slot"
              [ngStyle]="getSlotStyle(scholar, slot, day)"
              >
              @if (isTimeOccupied(scholar, slot, day)) {
                <span>
                  {{ getTimeRange(scholar, slot, day) }}
                </span>
              }
              @if (isTimeOccupied(scholar, slot, day)) {
                <div
                  class="schedule-tooltip"
                  >
                  {{ getTimeRange(scholar, slot, day) }}
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
}
